<template>
  <div class="flex flex-row items-center justify-start">
      <img src="/img/supportme.svg" class="h-32">
      <div>
          <div class="font-light text-2xl">
              Donate on Paypal
          </div>
      </div>
  </div>
</template>

<script>
export default {

};
</script>

<style scoped>

</style>
