/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */



body {
  font-family: 'Raleway', sans-serif;
    @apply text-grey-darker;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

  .sections-item.router-link-active {
      @apply text-blue font-bold;
  }

  .sections-item:not(.router-link-active) > i {
    @apply text-grey-dark;
}

  .link {
      @apply font-bold text-grey-darkest transition border-b-2 border-grey whitespace-no-wrap;
  }

  .link:hover {
      @apply text-black border-black;
  }

  .button {
      @apply bg-blue-lightest text-blue inline-block py-4 px-8 font-bold uppercase tracking-wide cursor-pointer transition;
      border-radius: 1rem;
  }

  .button:hover {
      @apply bg-blue text-white;
  }

 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

  .rounded-t-xl {
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
  }

  .bg-theme-gradient {
      background: linear-gradient(-45deg, hsl(224, 28%, 38%), hsl(180, 28%, 38%));
  }

.transition {
    transition: all 200ms ease-in-out;
}

.transition-long {
    transition: all 500ms ease-in-out;
}

.-z-10 {
    z-index: -10;
}

::-webkit-input-placeholder {
    z-index: -10
}
