[class*="-enter-active"], [class*="-leave-active"], [class*="-move"] {
    transition: all 300ms ease-out;
}

.scale-enter, .scale-leave-to {
    transform: translateX(-50px);
}

.opacity-enter, .opacity-leave-to {
    opacity: 0;
}

.opacity-slide-right-enter {
    opacity: 0;
    transform: translateX(-50px);
}
.opacity-slide-right-leave-to {
    opacity: 0;
    transform: translateX(50px);
}
.opacity-slide-left-enter {
    opacity: 0;
    transform: translateX(50px);
}
.opacity-slide-left-leave-to {
    opacity: 0;
    transform: translateX(-50px);
}

.slide-right-enter-active {
    z-index: 10;
}
.slide-right-enter, .slide-right-leave-to {
    transform: translateX(100%);
}

.modal-enter-active .content, .modal-leave-active .content, .modal-enter-active .dimmer, .modal-leave-active .dimmer {
    transition: all 300ms ease-out;
}
.modal-enter .dimmer, .modal-leave-to .dimmer {
    opacity: 0;
}
.modal-enter .content, .modal-leave-to .content {
    transform: translateY(100%)
}

.popup-enter-active .content, .popup-leave-active .content, .popup-enter-active .dimmer, .popup-leave-active .dimmer {
    transition: all 300ms ease-out;
}
.popup-enter .dimmer, .popup-leave-to .dimmer {
    opacity: 0;
}
.popup-enter .content, .popup-leave-to .content {
    opacity: 0;
    transform: translateY(50px);
    max-height: 0px;
}
.popup-enter-to .content, .popup-leave .content {
    /* opacity: 0;
    transform: translateY(50px); */
    max-height: 1000000px;
}

/* Task List */
.list-enter, .list-leave-to {
    opacity: 0;
}

.list-enter, .list-leave-to {
    transform: translateY(3em);
}

.list-leave-active {
    position: absolute;
}